<br/><br/>
<center>
<h3>Agrega un formulario.</h3></center>
<form id="registerform">
  <div class="form-group">
  <br/><br/>
  <center><input type="text" name="tokenizer" placeholder="Token para Descargar form" class="form-controll col-lg-12"><br/><br/><br/>
  <button class="btn btn-primary">Validar Código</button></center>
  </div>
</form>
<script src="js/formularios-controller.js"></script>